edit-form {

}

::placeholder {
        color: red;
        font-size: 1vw;
        height: 10vh;
}

.edit-form textarea {
    font-size: 1vw;
}

.edit-form .forum {
    margin-top: 12vh;
}

.edit-form form {
    width: 60vw; float: right; margin-top: 3vh; margin-right: 3vw
}

.edit-form li {
    color: red;
}

.closeBtn {
    max-height: 1px;
    margin: 0;
    padding: 0;
    width: 1vw;
    margin-bottom: 3vh;
    margin-left: 1vw;
    font-size: 1.4vw;
}